.main-div{
    height:98vh;
    display: flex;
    background-color: #F5F5F5;
}

.left-panel{
    height:100%;
    width:20%;
    background-color: #E1F9F4;
}

.left-panel>ul>li {
    list-style: none;
    margin: 50px 20px 30px 20px;
    color:  #AAAAAA;
}

.left-panel>ul>li>img{
    width: 25px;
    height: 15px;
    margin-right: 20px;
}

.property-link > img{
    width: 25px;
    height: 15px;
    margin-right: 20px;
}

.property-link{
    color: #2289FF;
}

.logo{
    font-family: ''Source Sans Pro'';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #1A1B1C;
    text-align:center;
    margin-top: 25px;

}